@media (max-width: 768px) {
    .trend3 {
        display: none;
    }
    .footer {
        padding: 20px 10px;
    }
    .main2 .separate .canvas-side .box-post .img{
        height: 250px;
        background-position: center;
        background-size: cover;
    }
}
